
atomicwrites==1.4.0
attrs==21.2.0
colorama==0.4.4
decorator==5.1.0
iniconfig==1.1.1
jsonpath-ng==1.5.3
meteo-downloader==1.0
packaging==21.0
pluggy==1.0.0
ply==3.11
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
selenium==3.141.0
self==2020.12.3
six==1.16.0
toml==0.10.2
unittest-xml-reporting==3.0.4
urllib3==1.26.7
